<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Go Heels Notifications</title>
        <link rel='stylesheet' href='/static/reset.css' />  
        <link rel='stylesheet' href='/static/styles.css' />    
    </head>
    <body>
        <h1>Go Heels Notifications</h1>

        <div class="myDiv">
            <form action="/" method="post">
                <div class="radio-group"><input type="radio" name="sports" id="basketball" value="basketball"/><label for="basketball">Basketball</label></div>
                <div class="radio-group"><input type="radio" name="sports" id="football" value="football"/><label for="football">Football</label></div>
                <div class="radio-group"><input type="radio" name="sports" id="soccer" value="soccer" /><label for="soccer">Soccer</label></div>
                <input class="submit-button" type="submit" value="Let's go">
            </form>

            <div class="schedule">
              {% for team in sports %}
              <div class="game" onClick='myFunction(event)'>
                  <img src="/static/logo.png" alt="UNC-logo"/>
                  <div class="game-text">
                    <h1 class="team">{{team.team}}</h1>
                    <p id="date" class="date">{{team.date}}</p>
                    <p class="time">{{team.time}}</p>
                    <p class="location">{{team.location}}</p>
                  </div>
              </div>
              {% endfor %}
            </div>

            <script>
              function myFunction(event) {
                // const date = document.getElementById("date")
                const event_date = new Date(event.currentTarget.children[1].children[1].innerHTML)
                today = new Date()

                

                // alert(`${today.getHours()}:${today.getMinutes()}:${today.getSeconds()}`)
                
              }
            </script>


        </div>
    </body>
</html>